# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.envrc

# Output directories
output/

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Backup files
*-old
